/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

/* HEADER */
#header .container {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
    display: flex;
    height: 100vh;
    overflow-x: hidden;
}

#header .background {
    height: 100vh;
    width: 100%;
    background-color: #0891b2;
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%, 100% 0%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#header .content {
    width: 90%;
    height: 50vh;
    margin: auto;
    display: flex;
}

#header .imgContainer {
    background-image: url("../images/headerImage.png");
    background-size: cover;
    display: flex;
    float: left;
    height: 50vh;
    margin: auto;
}

#header .imgContainer .imgText {
    width: 50vh;
    text-align: center;
    margin-top: auto;
    font-family: "PlayfairDisplay";
    font-size: 40px;
    font-weight: lighter;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 24px;
}

#header .textContainer {
    display: flex;
    height: 50vh;
    margin: auto;
}

#header .textContent {
    background-color: white;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    margin: auto;
}

#header .title {
    font-family: "PlayfairDisplay";
    font-size: 48px;
    margin-top: auto;
}

#header .text {
    font-family: "Roboto";
    font-size: max(1.5vw, 20px);
    margin-top: 24px;
    /* color: lightgray; */
    color: gray;
    font-weight: 300;
    margin-bottom: auto;
}

#header .iconContainer {
    margin-top: 16px;
    margin-left: auto;
}

#header .icon {
    font-size: 32px;
    cursor: pointer;
    padding-right: 8px;
}

@media screen and (width < 900px) and (width >= 650px) {
    #header .content {
        width: 75vw;
        position: relative;
        margin-left: calc((25vw / 2) + 5vh);
        margin-right: auto;
    }

    #header .iconContainer {
        display: inline-block;
        grid-column: span 2;
        margin-right: 32px;
    }

    #header .textContainer {
        background-color: white;
        height: 55vh;
    }

    #header .title {
        font-size: 4.5vw;
        grid-column: 2;
        text-align: center;
        margin: auto;
    }

    #header .textContent {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: 35vh auto;
        grid-template-rows: 10vh auto auto;
    }

    #header .textContent .text {
        padding: 0;
        margin: 0;
        width: auto;
        grid-column: span 2;
        padding: 0 24px 0 24px;
        padding-top: 0;
    }

    #header .textContent .text::before {
        content: "";
        width: 35vh;
        height: 230px;
        position: relative;
        transform: translateX(-24px);
        float: left;
    }

    #header .imgContainer {
        position: absolute;
        width: 45vh;
        height: 45vh;
        top: -10vh;
        left: -10vh;
    }
}

@media screen and (width < 650px) {
    #header .content {
        display: grid;
        margin-top: 32px;
        margin-bottom: auto;
        gap: 16px;
        grid-template-rows: auto 1fr;
    }

    #header .imgContainer {
        width: 100%;
        max-width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        max-height: 100vw;
    }

    #header .imgContainer .imgText {
        width: 100%;
        font-size: min(8vw, 44px);
        margin-bottom: 48px;
    }

    #header .textContainer,
    #header .textContent {
        margin: 0;
    }

    #header .textContent .title {
        margin-top: 16px;
        margin-bottom: 16px;
        width: 100%;
        height: 50px;
    }

    #header .text {
        margin: 0;
    }

    #header .textContainer {
        height: max(calc(100vh - 100vw - 10vh), 40vh);
    }
}
